* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: "JetBrains Mono", monospace;
}

.header {
    text-align: center;
    margin-top: 1vh;
    color: #98971a;
    font-size: .60vw;
}

#header-sub {
    font-size: 1vw;
}

main {
    max-width: 1080px;
    margin: auto;
}